:root {
    /* Dynamic size for font size, width, height, etc. */
    --base-size: 2rem;

    /* Primary background color */
    --primary-background: black;

    /* Secondary background color */
    --secondary-background: white;
}
